<div class="broadcrumb">
    <a [routerLink]="['']" class="broad">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>
    </a>
    <a [routerLink]="['/grupos']" class="broad">
        <span> / Grupos</span>
    </a>
    <span class="broadforo"> / Nuevo Grupo</span>
</div>

<h1>Plantear una Pregunta</h1>
<div class="post-form">
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="title">Nombre del Grupo</label>
        <input type="text" id="name" [(ngModel)]="post.name" name="name" required>
      </div>
  
      <div class="form-group">
        <label for="title">Eslogan del Grupo</label>
        <input type="text" id="eslogan" [(ngModel)]="post.eslogan" name="eslogan" required>
      </div>
      
      <div class="form-group">
        <label for="content">Descripción del Grupo</label>
        <textarea id="content" [(ngModel)]="post.content" name="content" required></textarea>
      </div>
  
      <button type="submit">Añadir</button>
    </form>
  </div>