<div class="perfil-usuario-info">
    <ul class="lista-datos">
        <li><i class="icono fas fa-phone-alt"></i> Telefono:</li>
        <li><i class="icono fas fa-briefcase"></i> Trabajo:</li>
        <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento:</li>
        <li><i class="icono fas fa-user-check"></i> Registro:</li>
        <li><i class="fa-solid fa-flag" style="color: #000000;"></i> Pais:</li>
    </ul>
    <ul class="datos">
        <li>{{phonenumber}}</li>
        <li>{{work}}</li>
        <li>{{birthday}}</li>
        <li>{{registerdate}}</li>
        <li>{{country}}</li>
    </ul>
</div>