.perfil-usuario-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.25rem;
}
.perfil-usuario-info li{
    padding-block: 0.5rem;
}

.lista-datos i{
    width: 20px;
    margin-right: 10px;
}