<div class="main">
    <section class="register">
        <div class="titulo">
            <img src="../../../assets/LOGO_PETWELLNES_R.png" alt="">
            <h1>Crear Cuenta</h1>
        </div>
        <div class="form">
            <h2>Username</h2>
            <input type="text" placeholder="">
            <h2>Correo</h2>
            <input type="email" placeholder="">
            <h2>Contraseña</h2>
            <input type="password" placeholder="">
            <h2>Confirmar Contraseña</h2>
            <input type="password" placeholder="">
        </div>
        <button class="crear">CREAR
        </button>
    </section>
</div>