<footer class="footer">
    <div class="footercontent">
        <div class="logos">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="lema">
            <h1>Juntos por la felicidad y salud de tus compañeros peludos
            </h1>
        </div>
        <div class="contactanos">
            <h2>CONTACTANOS</h2>
            <div class="content">
                <div class="contacto-item">
                    <div class="contactanoslogos">
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                    </div>
                    <div class="contactanostexto">
                        <p>{{email}}</p>
                    </div>
                </div>
                <div class="contacto-item">
                    <div class="contactanoslogos">
                        <i class="fa-solid fa-square-phone" style="color: #ffffff;"></i>
                    </div>
                    <div class="contactanostexto">
                        <p>{{phone}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="copycontent">
        <div class="copyright">
            <p>© 2024 PetWellnes. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>