<nav class="navbar">
    <nav class="navlogo">
        <img [routerLink]="['']" src="../../../assets/LOGO_PETWELLNES-removebg.png" class="logonav" alt="">
    </nav>
    <nav>
        <ul class="nav-menu">
            <li><a [routerLink]="['/foro']">FORO</a></li>
            <li class="servicios">
                <a routerlink="" class="dropbtn">SERVICIOS</a>
            </li>
            <li><a routerlink="">PRODUCTOS</a></li>
            <li><a [routerLink]="['/nosotros']">QUIENES SOMOS</a></li>
            <a routerlink=""><i class="fa-regular fa-bell"></i></a>
            <a (click)="toggleLoginPopup()" routerlink=""><i class="fa-solid fa-circle-user"></i></a>
        </ul>
    </nav>
</nav>
<app-login-popup *ngIf="isLoginPopupVisible"></app-login-popup>