<nav class="razas">
    <ul class="dropdown">
      <li class="nav-item" (click)="toggleDropdown()">
        <a class="nav-link">Seleccionar raza <i class="fa-solid fa-chevron-down" style="color: #000000;"></i></a>
        <ul class="dropdown-content" [class.show]="isDropdownOpen">
          <li><a href="" class="nav-link">Raza1</a></li>
          <li><a href="" class="nav-link">Raza2</a></li>
          <li><a href="" class="nav-link">Raza3</a></li>
          <li><a href="" class="nav-link">Raza4</a></li>
        </ul>
      </li>
    </ul>
  </nav>