<div class="quienes-somos">
  <div class="broadcrumb">
    <a [routerLink]="['']" class="broad">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>
    </a>
    <span class="broadt"> / Conocenos</span>
</div>
  <div class="estrella1" id="e1"></div>
  <div class="estrella2" id="e2"></div>
  <div class="estrella1" id="e3"></div>
  <div class="estrella2" id="e4"></div>
  <div class="pelota1" id="b1"></div>
  <div class="pelota2" id="b2"></div>
  <div class="pelota3" id="b3"></div>
  <h1 class="color-rojo">CONOCENOS <i class="fa-solid fa-face-smile-beam fa-beat" style="color: #d03733;"></i></h1>
  <section class="intro">
    <div class="contenido">
      <h2 class="color-rojo">Quienes Somos</h2>
      <p>
        <strong>"PetWellness"</strong> surge como una solución innovadora y dedicada al cuidado integral de las
        mascotas.
        Esta plataforma web está diseñada para ser un recurso indispensable para dueños responsables que buscan mejorar
        la
        calidad de vida de sus animales. Además de proporcionar información vital sobre salud y bienestar,
        <strong>"PetWellness"</strong> ofrece una gama de servicios personalizados que se adaptan a las necesidades
        específicas de cada mascota.
      </p>
    </div>

    <img src="../../../assets/mascotas.png" alt="">
  </section>

  <section class="mision">
    <img src="../../../assets/perroinsano.png" alt="">
    <div class="contenido">
      <h2 class="color-rojo">Nuestra Misión</h2>
      <p>
        Mejorar la calidad de vida de las mascotas proporcionando información y servicios personalizados que se adapten a
        sus necesidades específicas.
      </p></div>
  </section>

  <section class="vision">
    <div class="contenido">
      <h2 class="color-rojo">Nuestra Visión</h2>
      <p>
        Ser la plataforma líder en el cuidado integral de mascotas, facilitando el acceso a recursos y servicios de alta
        calidad para dueños responsables en todo el mundo.
      </p></div>
      <img src="../../../assets/vision.png" alt="">
  </section>

  <section class="valores">
    <img src="../../../assets/ludo.jpg" alt="">
    <div class="contenido">
      <h2 class="color-rojo">Valores</h2>
      <ul>
        <li><strong>Innovación:</strong> Buscar constantemente nuevas formas de mejorar el bienestar de las mascotas.</li>
        <li><strong>Compromiso:</strong> Dedicar todos nuestros esfuerzos a proporcionar servicios de calidad.</li>
        <li><strong>Colaboración:</strong> Fomentar una comunidad de apoyo y aprendizaje mutuo entre los dueños de
          mascotas.</li>
        <li><strong>Educación:</strong> Mantener a los dueños informados con los últimos conocimientos en cuidado animal.
        </li>
      </ul></div>
  </section>
</div>