.broadforo {
  color: #d03733;
}

.broad {
  color: black;
}

.broad:hover,
.broad i:hover {
  color: #d03733;
  transition: color 0.3s ease;
}

.broadcrumb {
  margin-left: 25px;
  margin-top: 15px;
}

h1 {
  margin-left: 25px;
  margin-top: 15px;
}

h2 {
  font-weight: 500;
}

.grupos-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-destacados {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.banner-izquierda,
.banner-derecha {
  position: relative;
  width: 510px;
  height: 200px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.banner-izquierda {
  background-image: url(../../../../assets/perrotes.jpg);
}

.banner-derecha {
  background-image: url(../../../../assets/depositphotos_76961349-stock-illustration-red-abstract-background.jpg);
}

.banner-texto {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.btn-descubrir,
.btn-crear {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d03733;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 50px;
}

.barra-filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.barra-filtros select,
.barra-filtros input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lista-grupos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grupo {
  width: calc(25% - 20px);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.grupo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.grupo-info {
  padding: 10px;
}

.grupo-info h2 {
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}

.grupo-info h2:hover{
    color: #d03733;
    transition: 0.3s;
}

.grupo-info p {
  margin: 5px 0 0;
  color: gray;
}

.grupoimagen{
    cursor: pointer;
}