<div class="broadcrumb">
    <a [routerLink]="['']" class="broad">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>
    </a>
    <span class="broadforo"> / Grupos</span>
</div>

<h1>Grupos</h1>

<div class="grupos-container">
    <div class="banner-destacados">
        <div class="banner-izquierda">
            <div class="banner-texto">
                <h2 id="red">DESTACADOS</h2>
                <h3>Perrotes</h3>
                <a href="#" class="btn-descubrir">DESCUBRIR UN EQUIPO</a>
            </div>
        </div>
        <div class="banner-derecha">
            <div class="banner-texto">
                <h2>CREA TU PROPIO EQUIPO Y</h2>
                <h3>COMPARTE TU PASIÓN CON TUS AMIGOS</h3>
                <a [routerLink]="['/nuevo-grupo']" class="btn-crear">CREAR MI EQUIPO</a>
            </div>
        </div>
    </div>

    <div class="barra-filtros">
        <select>
            <option value="populares">Más populares</option>
            <option value="recientes">Más recientes</option>
        </select>
        <input type="text" placeholder="Buscar">
    </div>

    <div class="lista-grupos">
        <div class="grupo" *ngFor="let grupo of grupos">
            <img [src]="grupo.imagen" alt="{{ grupo.nombre }}" class="grupoimagen">
            <div class="grupo-info">
                <h2>{{ grupo.nombre }}</h2>
                <p>{{ grupo.miembros }} Miembros</p>
            </div>
        </div>
    </div>
</div>